[submodule "Car_Dealership_App"]
	path = Car_Dealership_App
	url = https://github.com/nadeen-elsayed/Car_Dealership_App.git
[submodule "Emotion_Detection_App"]
	path = Emotion_Detection_App
	url = https://github.com/nadeen-elsayed/Emotion_Detection_App.git
[submodule "Guestbook_App"]
	path = Guestbook_App
	url = https://github.com/nadeen-elsayed/Guestbook_App.git
[submodule "Online_Book_Review_Application"]
	path = Online_Book_Review_Application
	url = https://github.com/nadeen-elsayed/Online_Book_Review_Application.git
